data/raw/*.csv

__pycache__/
*.pyc
.ipynb_checkpoints/

# virtual environment
venv/
env/

.vscode/

# Files price integration : 
notebooks/price_integration/*.csv
notebooks/price_integration/*.xlsx
notebooks/price_integration/final/*.csv
notebooks/price_integration/final/*.xlsx

notebooks/products_segmentation/csv/*.csv
data/processed/basket_size.csv
data/processed/rules_by_department.csv

# large datasets for training and testing
data/processed/train*.csv
data/processed/test*.csv